/dist
/.cabal-sandbox
*.hi
*.o
*~
*.dyn_hi
*.p_hi
dist-*
cabal-dev
*.chi
*.chs.h
*.dyn_o
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
